/*
-------------
   GENERAL 
-------------
*/

body {
  padding: 5px 15px;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #f8f8f8;
  font-size: 16px;
  letter-spacing: 0.01rem;
  
}

a {
  color: inherit;
  text-decoration: none;
}

/* --- TITLE --- */

.container {
  line-height: 1.5;
  max-width: 40rem;
  margin: auto;
}

.title {
  line-height: 1.5;
  font-size: 1rem;
  text-align: center;
}

.title a {
  text-decoration: none;
}

/* Description is currently disabled */
.description {
  margin: 0.5rem 0;
  line-height: 1.5;
  font-size: 1rem;
  letter-spacing: 0.01rem;
  color: #555;
  text-align: center;
}

/* --- TOPNAV --- */

.topnav{
  justify-content: center;
  align-items: center;
  display: flex;
  border-style: solid;
  border-width: 1px 0 1px 0;
  width: 100%;
  margin: 1rem 0 0 0;
}

.topnav a{
  float: left;
  text-align: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

@media only screen and (max-width: 600px){
  .topnav a{
    padding: 0.5rem 0.5rem
  }
}

.topnav a:hover{
  color: #616161;
  transition: all .3s linear
}

@media (hover:none){
  .topnav a:hover{
    color: inherit;
  }
}

/* --- MAIN PAGE WRAPPER --- */

.main {
  min-height: 100vh;
  padding: 0 0;
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* --- FOOTER --- */

.footer{
  border-style: solid;
  border-width: 1px 0 1px 0;
  width: 100%;
  margin: 2rem 0;
  padding: 2rem 0;
  text-align: center;
}

.footer .footer-links{
  padding: 0 1rem;
  display: inline-block;
}

.footer .footer-links:hover .fa{
  opacity: 0.4;
  transition: all .3s linear
}

@media (hover:none){
  .footer .footer-links:hover .fa{
    opacity: 1.0;
  }
}

.footer .fa{
  padding: 0 0.5rem;
  font-size: 1.5rem;
  text-decoration: none;
}

.footer .footer-links:hover .fa:hover{
  opacity: 1.0;
}

.footer .say-hello{
  line-height: 1;
  margin: 1.5rem 0 0.5rem 0;
}

.footer .say-hello a{
  text-decoration: underline;
  font-size: 0.8rem;
}

.footer-and-copyright .copyright{
  font-size: 0.8rem;
  margin: 1rem 0;
  text-align: center;
  text-decoration: none;
}

.footer-and-copyright .copyright a:hover{
  color: #616161;
  transition: all .3s linear
}

@media (hover:none){
  .footer-and-copyright .copyright a:hover{
    color: inherit;
  }
}

/* --- DARK MODE --- */

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }

  .topnav{
    border-color: white;
  }
  .topnav a:hover{
    color: #bbb;
    transition: all .3s linear
  }
  @media (hover:none){
    .topnav a:hover{
      color: inherit;
    }
  }

  .footer-and-copyright .copyright a:hover{
    color: #bbb;
    transition: all .3s linear
  }
  @media (hover:none){
    .footer-and-copyright .copyright a:hover{
      color: inherit;
    }
  }
}


/*
--------------
   ARTICLES 
--------------
*/

.article-index{
  text-align:center;
  margin: 1.25rem 0;
}

.article-index-entry{
  display: flex;
  align-items: center;
  text-align: left;
  margin: 0.6rem 1rem 1.1rem 1rem;
}

.article-index-date{
  flex: 0 0 100px;
  font-size: 0.8rem;
}

.article-index-title{
  flex: 1;
}

.article-page{
  margin: 10px 0;
}

.article-page h1{
  text-align: center;
  line-height: 1;
  margin-bottom: 1.5rem;
}

.article-page .article-date{
  text-align: right;
  font-size: 0.8rem;
  line-height: 1;
  margin: 0 0 1.2rem 0;
}

.article-page .article-body{
  line-height: 1.6;
}

.article-page a{
  text-decoration: underline;
}


/*
--------------
   PROJECTS 
--------------
*/

.projects-body{
  text-align: center;
  margin: 1rem 0;
}

.projects-body hr{
  margin: 2rem 1rem;
}

.project-card{
  border: 1px solid rgba(0,0,0,0.4);
  margin: 1rem 3rem;
  border-radius: 20px;
  background-color: #f5f5f5;
  padding: 1rem 3rem 0.5rem 3rem;
}

@media only screen and (max-width: 600px){
  .project-card{
    margin:1rem 0;
    padding: 1rem 2rem 0.5rem 2rem;
  }
}

@media only screen and (max-width: 400px){
  .project-card{
    margin:1rem 0;
    padding: 1rem 1rem 0.5rem 1rem;
  }
}

.project-type .fa{
  margin: 0.5rem 0.25rem 0 0.25rem;
  line-height: 1;
}

.project-type-date-container{
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: 0.8rem;
}

.project-type{
  margin: 0 0.5rem;
}

.project-date{
  margin: 0 0.5rem;
}

.project-title{
  margin: 1.5rem;
  line-height: 1.2;
}

.project-description{
  margin: 1.5rem 0;
}

.project-status{
  margin: 2rem 0 1.25rem 0;
}

.project-status div{
  margin: 1.3rem 0 0 0;
}

.project-status a{
  font-size: 0.9em;
  padding: 0.5rem;
  background-color: #efefef;
  border: 1px solid rgba(0,0,0,0.6);
  border-radius: 20px
}

.project-status a:hover{
  background-color: #e3e3e3;
  transition: all 0.3s linear
}

.project-status .fa{
  margin: 0 0.25rem;
}

.project-status .fa-github{
  margin: 0 0.35rem;
}

@media (prefers-color-scheme: dark){
  .project-card{
    border: 1px solid rgba(255,255,255,0.4);
    background-color: #111;
  }
  
  .project-status a{
    background-color: #252525;
  }
  .project-status a:hover{
    background-color: #2f2f2f;
    transition: all 0.3s linear
  }
  
  @media (hover:none){
    .project-status a:hover{
      color: inherit;
    }
  }
}

/*
-----------
   NOTES 
-----------
*/

.notes-index{
  margin: 0.5rem 0;
}

.notes-comment{
  font-size: 0.85rem;
}

.notes-index-entry{
  margin: 0 1rem 0 1rem;
}

.notes-index-entry hr{
  margin: 2.5rem auto;
  width: 60%;
  opacity: 0.6;
}

.notes-index-title{
  text-align: center;
  line-height: 1;
  margin: 0 0 1.2rem 0;
}

.notes-index-date{
  text-align: right;
  font-size: 0.8rem;
}

.notes-index-body {
  line-height: 1.6;  
}

.notes-index-body a{
  text-decoration: underline;  
}

.note-page{
  margin: 10px 0;
}

.note-page h1{
  text-align: center;
  line-height: 1;
  margin-bottom: 1.7rem;
}

.note-page .note-date{
  text-align: right;
  font-size: 0.8rem;
  line-height: 1;
  margin: 0 0 1.2rem 0;
}

.note-page .note-body{
  line-height: 1.6;
}

.note-page a{
  text-decoration: underline;
}

@media (prefers-color-scheme: dark){
  .notes-index-entry hr{
    margin: 2.5rem auto;
    width: 60%;
    opacity: 0.6;
  }
}

/*
-----------
   ABOUT 
-----------
*/

.about-body{
  /* text-align: center; */
  margin: 1rem 0;
}

.about-body hr{
  margin: 1.5rem 0;
}

.about-links{
  padding: 0 1rem;
}

.about-links:hover .fa{
  opacity: 0.4;
  transition: all .3s linear
}

@media (hover:none){
  .about-links:hover .fa{
    opacity: 1.0;
  }
}

.about-links .fa{
  padding: 0 0.5rem;
  font-size: 1.5rem;
  text-decoration: none;
}

.about-links:hover .fa:hover{
  opacity: 1.0;
}
